{% extends 'hospital/hospital_index.html' %}
{% block body %}

<!-- HEADING -->

    <div class="col-md-12 grid-margin">
        <div class="row">
            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                <h2 class="font-weight-bold">Welcome to Medicare</h2>
                <h4 class="font-weight-normal mb-0 secondary-text">Online Consultancy & Medicine Purchase</h4>
            </div>
        </div>
    </div>

<!-- ================ END OF HEADING ================ -->

    <div class="row">

<!-- ================ BENJAMIN QUOTE ================ -->

        <div class="col-md-6 grid-margin stretch-card">
            <div class="card tale-bg">
                <div class="card-people mt-auto">
                    <img src="/static/asset/images/dashboard/people.svg" alt="people">
                    <div class="weather-info">
                        <div class="d-flex">
                            <div class="ml-2" align="right">
                                <h4 class="location font-weight-normal" style="color: #4747A1;">Early to Bed and Early
                                    to Rise, <br>Makes a man Healthy, Wealthy and Wise</h4>
                                <h6 class="font-weight-bold text-uppercase"
                                    style="color: #F3797E; letter-spacing: 5px; word-spacing: 5px;line-height: 35px">
                                    Benjamin Franklin</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<!-- ================ END OF QUOTE ================ -->

<!-- ================ PENDING LINKS ================ -->


        <div class="col-md-6 grid-margin transparent">

            <!-- ================ FIRST ROW ================ -->

            <div class="row">

                <!-- ================ HOSPITAL LINK ================ -->

                <div class="col-md-6 mb-4 stretch-card transparent">
                    <a href="/hospital_view_doctor" class="card card-tale card-dark-blue card-link">
                        <div class="card-body">
                                <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_ot5gqdfc.json"
                                               background="transparent" speed="1" style="width: 250px; height: 210px;"
                                               loop autoplay></lottie-player>
                            <p class="mb-4">View Doctors</p>
                            <p class="fs-30 mb-2">{{ doctor }}</p>
                        </div>
                    </a>
                </div>

                <!-- ================ PHARMACY LINK ================ -->

                <div class="col-md-6 mb-4 stretch-card transparent">
                    <a href="/" class="card card-light-blue card-link">
                        <div class="card-body">
                            <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_eIXuIz.json"
                                           background="transparent" speed="1" style="width: 200px; height: 200px;" loop
                                           autoplay></lottie-player>
                            <p class="mb-4" id="about">View Schedules</p>
                        </div>
                    </a>
                </div>
            </div>

             <!-- ================ END OF FIRST ROW ================ -->

        </div>

<!-- ================ END OF PENDING LINKS ================ -->



    <!-- ================ SECOND BLOCK - ABOUT ================ -->

    <div class="row" style="padding: 0px 1.8rem;">
        <div class="card card-border card-hover-effect">
            <div class="card-body">
{#                <div class="contact-t">#}
                <h3 class="card-title">About</h3>
                <div class="card-description">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the industry's standard dummy text ever since the 1500s, when an unknown printer took
                        a galley of type and scrambled it to make a type specimen book. It has survived not only
                        five centuries, but also the leap into electronic typesetting, remaining essentially
                        unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                        PageMaker including versions of Lorem Ipsum
                    </p>
                </div>
{#                </div>#}
            </div>
        </div>
    </div>
    <br>

    <!-- ================ END OF SECOND BLOCK - ABOUT ================ -->

    <!-- ================ FOURTH BLOCK - CONATCT US ================ -->

    <div class="row" id="contact-link" style="padding: 0 1.8rem">
        <div class="card card-border card-hover-effect">
            <div class="card-body">
                <section class="contact-t">
                    <div class="content-t">
                        <h2>Contact Us</h2>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout. The point of using Lorem Ipsum is that it has a
                            more-or-less normal distribution of letters, as opposed to using 'Content here, content
                            here', making it look like readable English. Many desktop publishing packages and web page
                            editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will
                            uncover many web sites still in their infancy. Various versions have evolved over the years,
                            sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                    </div>
                    <div class="container-t">
                        <div class="contactInfo-t">
                            <div class="box-t">
                                <div class="icon-t"><i class="fa-solid fa-location-dot fa-shake" style="--fa-animation-duration: 5s;"></i></div>
                                <div class="text-t">
                                    <h3>Address</h3>
                                    <p>Lal Bahadur Shastri<br>
                                    Model Degree College<br>
                                    Parappanangadi, Malappuram</p>
                                </div>
                            </div>

                            <div class="box-t">
                                <div class="icon-t"><i class="fa-solid fa-phone fa-shake" style="--fa-animation-duration: 5s;"></i></div>
                                <div class="text-t">
                                    <h3>Phone</h3>
                                    <p>+91-3465-4875-12</p>
                                </div>
                            </div>

                            <div class="box-t">
                                <div class="icon-t"><i class="fa-solid fa-envelope fa-shake" style="--fa-animation-duration: 5s;"></i></div>
                                <div class="text-t">
                                    <h3>Email</h3>
                                    <p>rtda@gmail.com</p>
                                </div>
                            </div>

                        </div>

                        <div class="contactForm-t">
                            <form>
                                <h2>Send Message</h2>

                                <div class="inputBox-t">
                                    <input type="text" name="" required>
                                    <span>Full Name</span>
                                </div>

                                <div class="inputBox-t">
                                    <input type="text" name="" required>
                                    <span>E-mail</span>
                                </div>

                                <div class="inputBox-t">
                                    <textarea required></textarea>
                                    <span>Type your Message...</span>
                                </div>

                                <div class="inputBox-t">
                                    <input type="submit" name="" value="Send">
                                </div>

                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <br>

    <!-- ================ END OF FOURTH BLOCK - CONATCT US ================ -->

    <!-- ================ LAST BLOCK - FOOTER ================ -->

    <div class="row" style="padding: 0 1rem">
        <div class="col-lg-5 mb-4 stretch-card transparent">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Medicare</h1>
                    <div class="card-description">
                        <h5 style="color: #cfcfcf">Online Consultancy & Medicine Purchase</h5>
                        <p style="color: #a1a1a1">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took
                            a galley of type and scrambled it to make a type specimen book.
                        </p>
{#                        <a href="/login_d">Login</a>#}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12 mb-4 stretch-card transparent">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Company</h1>
                    <div class="card-description">
                        <ul class="nav">
                            <li class="nav-item nav"><a href="#about" class="nav-link link-ppty">About</a></li>
                            <li class="nav-item nav"><a href="#contact-link" class="nav-link link-ppty">Contact Us</a></li>
                            <li class="nav-item nav"><a href="##" class="nav-link link-ppty">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12 mb-4 stretch-card transparent">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Follow us</h1>
                    <div class="template-demo block">
                        <ul>
                            <li class="nav-item nav"><a href="##" class="nav-link link-ppty-brands"><i
                                    class="fa-brands fa-facebook fa-shake fa-xl" style="--fa-animation-duration: 5s;"></i>Facebook</a></li>

                            <li class="nav-item nav"><a href="##" class="nav-link link-ppty-brands"><i
                                    class="fa-brands fa-instagram fa-shake fa-xl" style="--fa-animation-duration: 5s;"></i>Instagram</a></li>

                            <li class="nav-item nav"><a href="##" class="nav-link link-ppty-brands"><i
                                    class="fa-brands fa-twitter fa-shake fa-xl" style="--fa-animation-duration: 5s;"></i>Twitter</a></li>

                            <li class="nav-item nav"><a href="##" class="nav-link link-ppty-brands"><i
                                    class="fa-brands fa-linkedin fa-shake fa-xl" style="--fa-animation-duration: 5s;"></i>Linkedin</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  ================ END OF LAST BLOCK - FOOTER ================ -->

    </div>

{% endblock %}