{% extends 'hospital/hospital_index.html' %}
{% block body %}

<form name="form1" method="post" action="/hospital_edit_profile_post">
{#    <table>#}
{#        <tr>#}
{#            <td>Name <input type="hidden" name="lid" value="{{ data['login_id'] }}"></td>#}
{#            <td><input type="text" name="name" id="name" value="{{ data['hos_name'] }}" required></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>District</td>#}
{#            <td><select name="district" id="district" required>#}
{#                <option value="{{ data['district'] }}">{{ data['district'] }}</option>#}
{#                <option>------------------</option>#}
{#                <option>Kannur</option>#}
{#                <option>Calicut</option>#}
{#            </select></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>Place</td>#}
{#            <td><input type="text" name="place" id="place" value="{{ data['place'] }}" required></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>Post</td>#}
{#            <td><input type="text" name="post" id="post" value="{{ data['post'] }}" required></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>Pin</td>#}
{#            <td><input type="number" name="pin" id="pin" value="{{ data['pin'] }}" required></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>Contact</td>#}
{#            <td><input type="number" name="contact" id="contact" value="{{ data['ph_number'] }}" minlength="10" required></td>#}
{#        <tr>#}
{#            <td>E-mail</td>#}
{#            <td><input type="email" name="mail" id="mail" value="{{ data['e_mail'] }}" required></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>Latitude</td>#}
{#            <td><input type="text" name="lat" id="lat" value="{{ data['hos_lat'] }}" required></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>Longitude</td>#}
{#            <td><input type="text" name="long" id="long" value="{{ data['hos_long'] }}" required></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td colspan="2" align="center"><input type="submit" name="update" id="update" value="Update"></td>#}
{#        </tr>#}
{#    </table>#}

<div class="container">
            <div class="card card-body card-hover-effect card-hover-effect-pro">
                <div class="row">
                    <div class="profile-info col-md-12">
                        <div class="panel">
                            <div class="bio-graph-heading">
                                Aliquam ac magna metus. Nam sed arcu non tellus fringilla fringilla ut vel ispum.
                                Aliquam ac
                                magna metus.
                            </div>
                            <br><br>
                            <div class="panel-body bio-graph-info">
                                <h1 style="font-size: 2.25rem">Edit Profile</h1>
                                <div class="row"><input type="hidden" name="lid" value="{{ data['login_id'] }}">
                                    <div class="bio-row">
                                        <p class="form-group row">
                                            <label for="" class="col-sm-3 col-form-label">Name</label>
                                            <input type="text" name="name" id="name"
                                                                     value="{{ data['hos_name'] }}" required
                                                                     class="form-control col-sm-6"></p>
                                    </div>
                                    <div class="bio-row">
                                        <p class="form-group row">
                                            <label for="" class="col-sm-3 col-form-label">District</label>
                                            <select name="district" id="district" required class="form-control col-sm-6">
                                                <option value="{{ data['district'] }}">{{ data['district'] }}</option>
                                                <option>------------------</option>
                                                <option>Kannur</option>
                                                <option>Calicut</option>
                                            </select>
                                        </p>
                                    </div>
                                    <div class="bio-row">
                                        <p class="form-group row">
                                            <label for="" class="col-sm-3 col-form-label">Place</label>
                                            <input type="text" name="place" id="place" value="{{ data['place'] }}"
                                                   required
                                                   class="form-control col-sm-6"></p>
                                    </div>
                                    <div class="bio-row">
                                        <p class="form-group row">
                                            <label for="" class="col-sm-3 col-form-label">Post</label>
                                            <input type="text" name="post" id="post" value="{{ data['post'] }}" required
                                                                     class="form-control col-sm-6"></p>
                                    </div>
                                    <div class="bio-row">
                                        <p class="form-group row">
                                            <label for="" class="col-sm-3 col-form-label">Pin</label>
                                            <input type="text" name="pin" id="pin" value="{{ data['pin'] }}" required
                                                   class="form-control col-sm-6"></p>
                                    </div>
                                    <div class="bio-row">
                                        <p class="form-group row">
                                            <label for="" class="col-sm-3 col-form-label">Contact</label>
                                            <input type="text" name="contact" id="contact"
                                                   value="{{ data['ph_number'] }}" minlength="10" required
                                                   class="form-control col-sm-6"></p>
                                    </div>
                                    <div class="bio-row">
                                        <p class="form-group row">
                                            <label for="" class="col-sm-3 col-form-label">Email</label>
                                            <input type="email" name="mail" id="mail" value="{{ data['e_mail'] }}"
                                                   required
                                                   class="form-control col-sm-6"></p>
                                    </div>
                                    <div class="bio-row">
                                        <p class="form-group row">
                                            <label for="" class="col-sm-3 col-form-label">Latitude</label>
                                            <input type="text" name="lat" id="lat" value="{{ data['hos_lat'] }}" required
                                                   class="form-control col-sm-6"></p>
                                    </div>
                                    <div class="bio-row">
                                        <p class="form-group row">
                                            <label for="" class="col-sm-3 col-form-label">Longitude</label>
                                            <input type="text" name="long" id="long" value="{{ data['hos_long'] }}" required
                                                   class="form-control col-sm-6"></p>
                                    </div>
                                </div>
                                <input type="submit" name="update" id="update" value="Save" class="btn btn-primary btn-lg btn-block col-sm-7">

                            </div>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</form>

{% endblock %}