{% extends 'admin/admin_index.html' %}
{% block body %}
    {#    <div class="form-group row">#}
    {#    <table width="200" border="1">#}
    {#        <tr>#}
    {#            <td>Current Password</td>#}
    {#            <td><input type="text" name="c_pass" id="c_pass"></td>#}
    {#        </tr>#}
    {#        <tr>#}
    {#            <td>New Password</td>#}
    {#            <td><input type="password" name="new_pass" id="new_pass"></td>#}
    {#        </tr>#}
    {#        <tr>#}
    {#            <td>Confirm Password</td>#}
    {#            <td><input type="password" name="confirm_pass" id="confirm_pass"></td>#}
    {#        </tr>#}
    {#        <tr>#}
    {#            <td colspan="2" align="center"><input type="submit" name="submit" id="submit" value="Save"></td>#}
    {#        </tr>#}
    {#    </table>#}
    {#    </div>#}
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Change Password</h4>

                    <form name="form1" method="post" action="/change_pass_post" class="forms-sample">
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Current Password</label>
                            <div class="col-sm-9">
                                <input type="text" name="c_pass" id="c_pass" class="form-control"
                                       placeholder="Enter Current Password" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">New Password</label>
                            <div class="col-sm-9">
                                <input type="password" name="new_pass" id="new_pass" class="form-control"
                                       placeholder="Enter New Password" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Confirm Password</label>
                            <div class="col-sm-9">
                                <input type="password" name="confirm_pass" id="confirm_pass" class="form-control"
                                       placeholder="Confirm Password" required>
                            </div>
                        </div>
                        <input type="submit" value="Change Password" class="btn btn-primary mr-2 btn-block">
                    </form>
                </div>
            </div>
        </div>
{% endblock %}