<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Home</title>
</head>
<body>
<form name="form1" method="post" action="">
    <table width="200" border="1">
        <tr>
            <td><a href="/admin_home">Home</a></td>
        </tr>
        <tr>
            <td><a href="/change_pass">Change Password</a></td>
        </tr>
        <tr>
            <td><a href="/view_approve_hospital">View and Approve Hospital</a></td>
        </tr>
        <tr>
            <td><a href="/approved_hospital">View Approved Hospital</a></td>
        </tr>
        <tr>
            <td><a href="/rejected_hospital">Rejected Hospital</a></td>
        </tr>

        <tr>
            <td><a href="/view_approve_pharmacy">View and Approve Pharmacy</a></td>
        </tr>
        <tr>
            <td><a href="/approved_pharmacy">View Approved Pharmacy</a></td>
        </tr>
        <tr>
            <td><a href="/rejected_pharmacy">Rejected Pharmacy</a></td>
        </tr>
        <tr>
            <td><a href="/view_doctor">View Pending Doctor</a></td>
        </tr>

        <tr>
            <td><a href="/view_approved_doctor">View Approved Doctor</a></td>
        </tr>

        <tr>
            <td><a href="/view_rejected_doctor">View Rejected Doctor</a></td>
        </tr>
        <tr>
            <td><a href="/view_patient">View Patient</a></td>
        </tr>
        <tr>
            <td><a href="/view_complaint">View Complaint</a></td>
        </tr>
{#        <tr>#}
{#            <td><a href="/add_medicine">New Medicine</a></td>#}
{#        </tr>#}
        <tr>
            <td height="23"><a href="/view_medicine">View Medicine</a></td>
        </tr>
        <tr>
            <td height="23"><a href="/login">Log Out</a></td>
        </tr>
    </table>
    <a href="#"></a>
</form>
</body>
</html>