{% extends 'admin/admin_index.html' %}
{% block body %}

    <form id="form1" name="form1" method="post" action="/admin_search_complaint">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <table>
                            <thead>
                            <tr>
                                <div class="form-group row">
                                    <label for="hospital" class="card-title col-sm-3 col-form-label">COMPLAINT</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <input type="date" name="f_date" class="form-control"/>
                                            <input type="date" name="t_date" class="form-control"/>
                                            <div class="input-group-append">
                                                <input type="submit" name="s1" value="Search"
                                                       class="btn btn-outline-primary btn-fw"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                            </thead>
                        </table>
                        <p></p>
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="example" class="display expandable-table" style="width:100%">
                                        <thead>
                                        <tr align="center">
                                            <th>#</th>
                                            <th>Complainant</th>
                                            <th>Date</th>
                                            <th>Time</th>
                                            <th>Defendant</th>
                                            <th>Complaint</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in data %}
                                            <tr class="font-weight-500">
                                                <td>&nbsp;{{ loop.index }}</td>
                                                <td>&nbsp;
                                                    {{ i['pat_name'] }} <br>
                                                    {{ i['pat_email'] }} <br>
                                                </td>
                                                <td> {{ i['comp_date'] }} <br></td>
                                                <td> {{ i['comp_time'] }} <br></td>
                                                <td>
{#                                                    {{ i['defendant'] }}<br>#}
                                                    {{ i['username'] }} <br>
                                                </td>
                                                <td>&nbsp;{{ i['complaint'] }} <br></td>

                                                <td  align="center"><a href="/complaint_reply/{{ i['com_id'] }}" class="btn btn-outline-secondary ">reply</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
