{% extends 'admin/admin_index.html' %}
{% block body %}

    <form id="form1" name="form1" method="post" action="/admin_search_complaint">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <table>
                            <thead>
                            <tr>
                                <div class="form-group row">
                                    <label for="hospital" class="card-title col-sm-3 col-form-label">COMPLAINT</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <input type="date" name="f_date" class="form-control"/>
                                            <input type="date" name="t_date" class="form-control"/>
                                            <div class="input-group-append">
                                                <input type="submit" name="s1" value="Search"
                                                       class="btn btn-outline-primary btn-fw"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                            </thead>
                        </table>
                        <p></p>
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="display expandable-table" style="width:100%">
                                        <thead>
                                        <tr align="center">
                                            <th rowspan="2">#</th>
                                            <th colspan="2">Data</th>
                                            <th colspan="3">Complaint Details</th>
                                            <th colspan="3" style="border-bottom-right-radius: 0px;">Reply Details</th>
                                        </tr>
                                        <tr align="center">
{#                                            <th>#</th>#}
                                            <th style="border-radius: 0px;">Complainant</th>
                                            <th>Defendant</th>
                                            <th>Complaint</th>
                                            <th>Date</th>
                                            <th>Time</th>
                                            <th>Reply</th>
                                            <th>Date</th>
                                            <th style="border-top-right-radius: 0px;">Time</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in data %}
                                            <tr class="font-weight-500">
                                                <td>&nbsp;{{ loop.index }}</td>
                                                <td>&nbsp;{{ i['pat_name'] }}</td>
                                                <td> {{ i['defendant'] }}</td>
                                                <td>&nbsp;{{ i['complaint'] }}</td>
                                                <td> {{ i['comp_date'] }}</td>
                                                <td> {{ i['comp_time'] }}</td>
                                                <td> {{ i['reply']}}</td>
                                                <td>{{ i['reply_date'] }}</td>
                                                <td>{{ i['reply_time'] }}</td>

{#                                                <td  align="center"><a href="/complaint_reply/{{ i['com_id'] }}" class="btn btn-outline-secondary ">reply</a></td>#}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
