{% extends 'admin/admin_index.html' %}
{% block body %}
    <form id="form1" name="form1" method="post" action="/view_approve_hospital_post">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <table>
                        <thead>
                        <tr>
                            <div class="form-group row">
                                <label for="hospital"
                                       class="card-title col-sm-3 col-form-label">HOSPITAL</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input type="text" name="search_field"
                                               class="form-control border-right-0"
                                               placeholder="Search Hospital"/>
                                        <div class="input-group-append">
                                            <input type="submit" name="s1" value="Search"
                                                   class="btn btn-sm btn-outline-primary btn-fw"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                        </thead>
                    </table>
                    <p></p>
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table id="example" class="display expandable-table" style="width:100%">
                                    <thead>
                                    <tr align="center">
                                        <th>#</th>
                                        <th>Hospital Name</th>
                                        <th>Contact</th>
                                        <th>Address</th>
                                        <th>Location</th>
                                        <th colspan="2">Action</th>
                                    </tr>
                                    <tbody>
                                    {% for i in data %}
                                        <tr class="font-weight-500">
                                            <td>{{ loop.index }}</td>
                                            <td class="">{{ i['hos_name'] }}</td>
                                            <td class="">
                                                {{ i['ph_number'] }}<br>
                                                {{ i['e_mail'] }}

                                            </td>
                                            <td>
                                                <address class="mb-2">
                                                    {{ i['place'] }}<br>
                                                    {{ i['pin'] }}<br>
                                                    {{ i['post'] }}<br>
                                                    {{ i['district'] }}</address>
                                            </td>
                                            <td align="center"><a href="http://maps.google.com/maps?q={{ i['hos_lat'] }},{{ i['hos_long'] }}"
                                                   class="btn btn-lg btn-outline-primary">Locate</a></td>
                                            <td align="center"><a href="/view_approve_hospital_approving/{{ i['login_id'] }}"
                                                   class="btn btn-lg btn-outline-success">Approve</a></td>
                                            <td align="center"><a href="/view_rejected_hospital_approving/{{ i['login_id'] }}"
                                                   class="btn btn-lg btn-outline-danger">Reject</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}