<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME - DOCTOR</title>
</head>
<body>
<form name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><a href="/doctor_home">Home</a></td>
    </tr>
    <tr>
      <td><a href="/doctor_change_password">Change Password</a></td>
    </tr>
    <tr>
      <td><a href="/doctor_view_profile">View Profile</a></td>
    </tr>
    <tr>
      <td><a href="/doctor_view_schedule">View Schedule</a></td>
    </tr>
    <tr>
      <td><a href="/doctor_view_booking">View Booking</a></td>
    </tr>
    <tr>
      <td><a href="/doctor_search_prescription_date">View Prescription</a></td>
    </tr>
{#    <tr>#}
{#      <td><a href="/doctor_add_prescription">Add Prescription</a></td>#}
{#    </tr>#}
    <tr>
      <td><a href="/doctor_video_chat">Video Conference</a></td>
    </tr>
    <tr>
      <td><a href="/doctor_text_chat">Chat</a></td>
    </tr>
    <tr>
      <td><a href="/login">Log Out</a></td>
    </tr>
  </table>
</form>
</body>
</html>