<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pharmacy Home</title>
</head>
<body>
<form name="form1" method="post" action="">
    <table width="200" border="1">
        <tr>
            <td><a href="/pharmacy_home">Home</a></td>
        </tr>
        <tr>
            <td><a href="/pharmacy_change_password">Change Password</a></td>
        </tr>
        <tr>
            <td><a href="/pharmacy_view_profile">View Profile</a></td>
        </tr>
        <tr>
            <td><a href="/pharmacy_view_medicine">View Medicine</a></td>
        </tr>
        <tr>
            <td><a href="/pharmacy_add_medicine">Add Medicine</a></td>
        </tr>
        <tr>
            <td><a href="/pharmacy_view_patient">View Patient</a></td>
        </tr>
        <tr>
            <td><a href="/pharmacy_view_booking">View Booking</a></td>
        </tr>
        <tr>
            <td><a href="/pharmacy_view_stock">View Stock</a></td>
        </tr>
        <tr>
            <td><a href="/pharmacy_view_discount">View Discount</a></td>
        </tr>
        <tr>
            <td><a href="/pharmacy_add_discount">Add Discount</a></td>
        </tr>
        <tr>
            <td><a href="/pharmacy_view_other_discount">View Other Pharmacies Discount</a></td>
        </tr>
        <tr>
            <td><a href="/pharmacy_view_sales_report">View Sales Report</a></td>
        </tr>
        <tr>
            <td><a href="/pharmacy_logout">Log Out</a></td>
        </tr>
    </table>
</form>
</body>
</html>