<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LOGIN - Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/static/asset/vendors/feather/feather.css">
    <link rel="stylesheet" href="/static/asset/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/static/asset/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/static/asset/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="/static/asset/images/favicon.png"/>

    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

</head>

<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row min-vw-100 mx-0">
                <div style="position: fixed;">
                    <div class="text-left px-sm-5">
                        <div class="align-items-center">
                            <p>
                                <lottie-player src="https://assets6.lottiefiles.com/private_files/lf30_ghyv7l.json"
                                               background="transparent" speed="1" style="width: 700px; height: 700px;"
                                               loop autoplay></lottie-player>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mx-auto" style="padding-left: 300px">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                        <form name="form1" method="post" action="/pharmacy_signup_post">
                            <div class="card-body">
                                <h3>Hospital SignUp Page</h3><br><br>

                                <div class="form-group">
                                    <input type="text" name="name" id="name" class="form-control form-control-lg"
                                           placeholder="Pharmacy Name">
                                </div>

                                <div class="form-group">
                                    <input type="text" name="email" id="email" class="form-control form-control-lg"
                                           placeholder="Email"></div>
                                <div class="form-group">
                                    <input type="text" name="contact" id="contact" class="form-control form-control-lg"
                                           placeholder="Contact"></div>


                                <div class="form-group">
                                    <input type="text" name="place" id="place" class="form-control form-control-lg"
                                           placeholder="Place"></div>


                                <div class="form-group">
                                    <input type="text" name="post" id="post" class="form-control form-control-lg"
                                           placeholder="Post"></div>
                                <div class="form-group">

                                    <select name="district" id="district" class="form-control">
                                        <option selected>Select</option>
                                        <option>Alappuzha</option>
                                        <option>Ernakulam</option>
                                        <option>Idukki</option>
                                        <option>Kannur</option>
                                        <option>Kasaragod</option>
                                        <option>Kollam</option>
                                        <option>Kottayam</option>
                                        <option>Kozhikode</option>
                                        <option>Malappuram</option>
                                        <option>Palakkad</option>
                                        <option>Pathanamthitta</option>
                                        <option>Thiruvananthapuram</option>
                                        <option>Thrissur</option>
                                        <option>Wayanad</option>
                                    </select></div>


                                <div class="form-group">
                                    <input type="number" name="pin" id="pin" class="form-control form-control-lg"
                                           placeholder="Pin"></div>


                                <div class="form-group">
                                    <input type="text" name="license" id="license" class="form-control form-control-lg"
                                           placeholder="License Number"></div>


                                <div class="form-group">
                                    <input type="text" name="lat" id="lat" class="form-control form-control-lg"
                                           placeholder="Latitude"></div>


                                <div class="form-group">
                                    <input type="text" name="lon" id="lon" class="form-control form-control-lg"
                                           placeholder="Longitude"></div>


                                <div class="form-group">
                                    <input type="text" name="p1" class="form-control form-control-lg"
                                           placeholder="Password"></div>


                                <div class="form-group">
                                    <input type="text" name="p2" class="form-control form-control-lg"
                                           placeholder="Confirm Passsword">
                                </div>
                                <input type="submit" name="sign" id="sign" value="SignUp"
                                       class="btn-block btn btn-outline-primary">

                        </form>
                    </div>
                </div>
</body>
</html>