{% extends 'pharmacy/pharmacy_index.html' %}
{% block body %}

    <!-- HEADING -->

    <div class="col-md-12 grid-margin">
        <div class="row">
            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                <h2 class="font-weight-bold">Welcome to Medicare</h2>
                <h4 class="font-weight-normal mb-0 secondary-text">Online Consultancy & Medicine Purchase</h4>
            </div>
            <div class="col-12 col-xl-4">
            </div>
        </div>
    </div>

    <!-- ================ END OF HEADING ================ -->

    <div class="row">

        <!-- ================ BENJAMIN QUOTE ================ -->

        <div class="col-md-6 grid-margin stretch-card">
            <div class="card tale-bg">
                <div class="card-people mt-auto">
                    <img src="/static/asset/images/dashboard/people.svg" alt="people">
                    <div class="weather-info">
                        <div class="d-flex">
                            <div class="ml-2" align="right">
                                <h4 class="location font-weight-normal" style="color: #4747A1;">Early to Bed and Early
                                    to Rise, <br>Makes a man Healthy, Wealthy and Wise</h4>
                                <h6 class="font-weight-bold text-uppercase"
                                    style="color: #F3797E; letter-spacing: 5px; word-spacing: 5px;line-height: 35px">
                                    Benjamin Franklin</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ================ END OF QUOTE ================ -->

        <!-- ================ PENDING LINKS ================ -->


        <div class="col-md-6 grid-margin transparent">

            <!-- ================ FIRST ROW ================ -->

            <div class="row">

                <!-- ================ BOOKING LINK ================ -->

                <div class="col-md-6 mb-4 stretch-card transparent">
                    <a href="/pharmacy_view_booking" class="card card-tale card-dark-blue card-link">
                        <div class="card-body">
                            <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_6woeee8k.json"
                                           background="transparent" speed="1" style="width: 225px; height: 225px;" loop
                                           autoplay></lottie-player>
                            <p class="mb-4">View BOOKINGS</p>
                            <p class="fs-30 mb-2">{{ book }}</p>
                        </div>
                    </a>
                </div>

                <!-- ================ MEDICINE LINK ================ -->

                <div class="col-md-6 mb-4 stretch-card transparent">
                    <a href="/pharmacy_view_medicine" class="card card-light-blue card-link">
                        <div class="card-body">
                            <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_zlwrueb3.json"
                                           background="transparent" speed="1" style="width: 200px; height: 200px;" loop
                                           autoplay></lottie-player>
                            <p class="mb-4">View MEDICINES</p>
                            <p class="fs-30 mb-2">{{ med }}</p>
                        </div>
                    </a>
                </div>
            </div>

            <!-- ================ END OF FIRST ROW ================ -->


        </div>

        <!-- ================ END OF PENDING LINKS ================ -->


        <!-- ================ SECOND BLOCK - ABOUT ================ -->

        <div class="row" style="padding: 0px .9rem;">
            <div class="card card-border card-hover-effect">
                <div class="card-body">
                    {#                <div class="contact-t">#}
                    <h3 class="card-title">About</h3>
                    <div class="card-description">
                        <p>
                            <b>Medicare</b> is a web-application which customers can order their medicine by
                        uploading the picture of prescription and get the home delivery of medicine by cash on
                        delivery. Medicare solves the problem for people who lives in remote areas. The people
                        will get the service available at any time the customer can order their medicines in 2
                        ways: By uploading the picture of prescription and By searching for a medicine. Our aim
                        is to provide medicine to patients at the doorstep and aware customers for online
                        medicine availability.
                        </p>
                    </div>
                    {#                </div>#}
                </div>
            </div>
        </div>
        <br>

        <!-- ================ END OF SECOND BLOCK - ABOUT ================ -->


        <!-- ================ FOURTH BLOCK - CONATCT US ================ -->

        <div class="row" id="contact-link" style="padding: 0px 1.1rem">
            <div class="card card-border card-hover-effect">
                <div class="card-body">
                    <section class="contact-t">
                        <div class="content-t">
                            <h2>Contact Us</h2>
                        <p>It is so happy to know that you are using this website. Please connect with us our crew is
                            always ready to find a good path for you. Enter your email address and get in touch with
                            us!</p>
                        </div>
                        <div class="container-t">
                            <div class="contactInfo-t">
                                <div class="box-t">
                                    <div class="icon-t"><i class="fa-solid fa-location-dot fa-shake"
                                                           style="--fa-animation-duration: 5s;"></i></div>
                                    <div class="text-t">
                                        <h3>Address</h3>
                                        <p>Lal Bahadur Shastri<br>
                                            Model Degree College<br>
                                            Parappanangadi, Malappuram</p>
                                    </div>
                                </div>

                                <div class="box-t">
                                    <div class="icon-t"><i class="fa-solid fa-phone fa-shake"
                                                           style="--fa-animation-duration: 5s;"></i></div>
                                    <div class="text-t">
                                        <h3>Phone</h3>
                                        <p>+91-3465-4875-12</p>
                                    </div>
                                </div>

                                <div class="box-t">
                                    <div class="icon-t"><i class="fa-solid fa-envelope fa-shake"
                                                           style="--fa-animation-duration: 5s;"></i></div>
                                    <div class="text-t">
                                        <h3>Email</h3>
                                        <p>rtda@gmail.com</p>
                                    </div>
                                </div>

                            </div>

                            <div class="contactForm-t">
                                <form>
                                    <h2>Send Message</h2>

                                    <div class="inputBox-t">
                                        <input type="text" name="" required>
                                        <span>Full Name</span>
                                    </div>

                                    <div class="inputBox-t">
                                        <input type="text" name="" required>
                                        <span>E-mail</span>
                                    </div>

                                    <div class="inputBox-t">
                                        <textarea required></textarea>
                                        <span>Type your Message...</span>
                                    </div>

                                    <div class="inputBox-t">
                                        <input type="submit" name="" value="Send">
                                    </div>

                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <br>

        <!-- ================ END OF FOURTH BLOCK - CONATCT US ================ -->

        <!-- ================ LAST BLOCK - FOOTER ================ -->

        <div class="row">
            <div class="col-lg-5 mb-4 stretch-card transparent">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">Medicare</h1>
                        {#                    <div><lottie-player src="https://assets7.lottiefiles.com/packages/lf20_cdu97cbh.json"#}
                        {#                                   background="transparent"  speed="1"  style="width: 700px; height: 150px;"  loop#}
                        {#                                   autoplay></lottie-player>#}
                        {#                    </div>#}
                        <div class="card-description">
                            <h5 style="color: #cfcfcf">Online Consultancy & Medicine Purchase</h5><br>
                        <p style="color: #a1a1a1">Medicare is a web-application which customers can order their medicine
                            by
                            uploading the picture of prescription and get the home delivery of medicine by cash on
                            delivery. Medicare solves the problem for people who lives in remote areas.
                        </p>
                            {#                        <a href="/login_d">Login</a>#}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12 mb-4 stretch-card transparent">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">Company</h1>
                        <div class="card-description">
                            <ul class="nav">
                                <li class="nav-item nav"><a href="#about" class="nav-link link-ppty">About</a></li>
                                <li class="nav-item nav"><a href="#contact-link" class="nav-link link-ppty">Contact
                                    Us</a></li>
                                <li class="nav-item nav"><a href="##" class="nav-link link-ppty">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12 mb-4 stretch-card transparent">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">Follow us</h1>
                        <div class="template-demo block">
                            <ul>
                                <li class="nav-item nav"><a href="##" class="nav-link link-ppty-brands"><i
                                        class="fa-brands fa-facebook fa-shake fa-xl"
                                        style="--fa-animation-duration: 5s;"></i>Facebook</a></li>

                                <li class="nav-item nav"><a href="##" class="nav-link link-ppty-brands"><i
                                        class="fa-brands fa-instagram fa-shake fa-xl"
                                        style="--fa-animation-duration: 5s;"></i>Instagram</a></li>

                                <li class="nav-item nav"><a href="##" class="nav-link link-ppty-brands"><i
                                        class="fa-brands fa-twitter fa-shake fa-xl"
                                        style="--fa-animation-duration: 5s;"></i>Twitter</a></li>

                                <li class="nav-item nav"><a href="##" class="nav-link link-ppty-brands"><i
                                        class="fa-brands fa-linkedin fa-shake fa-xl"
                                        style="--fa-animation-duration: 5s;"></i>Linkedin</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--  ================ END OF LAST BLOCK - FOOTER ================ -->

    </div>

{% endblock %}