{% extends 'pharmacy/pharmacy_index.html' %}
{% block body %}

    <form name="form1" method="post" action="/pharmacy_search_sales_report">

        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <table>
                        <thead>
                        <tr>
                            <div class="form-group row">
                                <label for="hospital"
                                       class="card-title col-sm-3 col-form-label">SALES REPORT</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input type="text" name="search_field"
                                               class="form-control border-right-0"
                                               placeholder="Search report"/>
                                        <div class="input-group-append">
                                            <input type="submit" name="s1" value="Search"
                                                   class="btn btn-sm btn-outline-primary btn-fw"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                        </thead>
                    </table>
                    <p></p>
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table id="example" class="display expandable-table" style="width:100%">
                                    <thead>
                                    <tr align="center">
                                        <th>#</th>
                                        <th>Medicine Name</th>
                                        <th>Medicine Brand</th>
                                        <th>Quantity</th>
                                        <th>Total Price</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody align="center">
                                    {% for i in data %}
                                        <tr>
                                            <td> {{ loop.index }}</td>
                                            <td>&nbsp;{{ i['med_name'] }}</td>
                                            <td>&nbsp;{{ i['med_brand'] }}</td>
                                            <td>&nbsp;{{ i['med_quantity'] }}</td>
                                            <td>&nbsp;{{ i['total_amount'] }}</td>
                                            <td>
                                                <a href="/pharmacy_view_sales_report_more/{{ i['med_id'] }}"
                                                   class="btn btn-outline-primary">View
                                                    More</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}